# SPDX-License-Identifier: BSD-2
# Copyright 2022 VMware, Inc.
#

[Unit]
Description=photon-os-containerd configures container network
Documentation=man:photon-os-container.conf(5)
After=network-online.target

[Service]
ExecStart=!!/usr/bin/photon-os-containerd
Restart=always

[Install]
WantedBy=multi-user.target